:root {
    --primary-red: #ED2024;
    --pink-red: #FE043C;
    --grey-red: #FF7E8B;
    --fade-red: #DA2A50;
    --light-red: #FE043C;
    --dark-red: #C4002C;
    --bold-red: #FF0000;
    --primary-brown: #460000;
    --primary-white: #ffffff;
    --primary-black: #000;
    --secondary-black: #1C1C1C;
    --normal-black: #292929;
    --primary-grey: #4F4F4F;
    --secondary-grey: #00000080;
    --border-grey: #D9D9D9;
    --normal-grey: #3C3C3C;
    --primary-green: #009E2C;
    --secondary-green: #00B833;
    --primary-skin: #FFF5D2;
}